<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <p class="copy">&copy; 2017 Metro Africa Xpress.</p>
      </div>

      <div class="col-lg-9 col-md-8">
        <ul class="list-unstyled clearfix footer-links">
          <li><a href="http://apple.co/2ySSv77" target="_blank">iOS</a></li>
          <li><a href="http://bit.ly/MAXGo-WA" target="_blank">Android</a></li>
          <li><a href="https://www.max.ng/about" target="_blank">About</a></li>
          <li><a href="https://www.max.ng/media-press" target="_blank">Press</a></li>
          <li><a href="https://www.max.ng/tos" target="_blank">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>