<app-header></app-header>
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <h1>The Fastest Way to Deliver in Your City</h1>
                <p class="lead">
                    Integrate the MAX API into your existing systems and let us do the rest. Get started today
                </p>

                <a class="btn btn-primary" href="http://docs.maxv1.apiary.io/" target="_blank">Learn More</a>
                <a class="btn btn-default">Create an App</a>
            </div>

            <div class="col-lg-8 col-md-7 cta-image">
                <img src="https://res.cloudinary.com/max-ng/image/upload/v1509467431/max-devportal/integration.png" alt="MAX Integration">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>