<app-header></app-header>
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <h1>The Fastest Way to Deliver in Your City</h1>
                <p class="lead">
                    Integrate the MAX API into your existing systems and let us do the rest. Get started today
                </p>

                <a class="btn btn-primary" href="http://docs.maxv1.apiary.io/" target="_blank">Learn More</a>
                <a class="btn btn-default">Create an App</a>
            </div>

            <div class="col-lg-8 col-md-7 cta-image">
                <img src="https://res.cloudinary.com/max-ng/image/upload/v1509467431/max-devportal/integration.png" alt="MAX Integration">
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <p class="txt-center">Focus on building amazing products and services and leave the last mile to MAX</p>
        <div class="row">
            <div class="col-lg-4 col-md-4 feature-box txt-center">
                <img src="https://res.cloudinary.com/max-ng/image/upload/v1509635947/max-devportal/feature_dispatch.png" alt="Dispatch Deliveries">
                <h4>Dispatch Deliveries</h4>
                <p>Get predictable pricing and pickup windows and make delivery requests</p>
            </div>
            <div class="col-lg-4 col-md-4 feature-box txt-center">
                <img src="https://res.cloudinary.com/max-ng/image/upload/v1509635947/max-devportal/feature_tracking.png" alt="Realtime Updates">
                <h4>Realtime Updates</h4>
                <p>Get realtime updates from start to finish via webhooks</p>
            </div>
            <div class="col-lg-4 col-md-4 feature-box txt-center">
                <img src="https://res.cloudinary.com/max-ng/image/upload/v1509635947/max-devportal/feature_seamless.png" alt="Seamless">
                <h4>Seamless</h4>
                <p>Integrate delivery seamlessly into your checkout flow today</p>
            </div>
        </div>
    </div>
</div>

<div class="slack">
    <div class="container txt-center">
        <h3>Join our community for developers</h3>
        <a href="">Join the Slack group</a>
        <img src="https://res.cloudinary.com/max-ng/image/upload/v1509647689/max-devportal/slack.png" alt="Slack">
    </div>
</div>
<app-footer></app-footer>