<div class="login-wrapper">
  <form class="login">

    <div class="logo">
      <a [routerLink]="['/']" ><img class="logo-image" src="https://res.cloudinary.com/max-ng/maxweb_img/logo_gold.png"></a>
    </div>
    
    <label class="title">
      <h3>Get Started</h3>
    </label>

    <div class="login-group">
      <input class="username" type="text" id="login_email" placeholder="First Name">
      <input class="username" type="text" id="login_email" placeholder="Last Name">
      <input class="username" type="text" id="login_email" placeholder="Phone Number">
      <input class="username" type="text" id="login_email" placeholder="Email">
      <input class="password" type="password" id="login_password" placeholder="Password">


      <div *ngIf class="error active">
        Invalid user name or password
      </div>

      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

      <a [routerLink]="['/login']" class="signup">Already have an account? Sign in</a>
    </div>
  </form>
</div>
