/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

.btn-default 
{
    border-color: $brand-primary !important;
    color: $brand-primary !important;

    &:hover {
        background: $brand-primary !important;
        color: #FFF !important;
    }
}