@import "~scss/variables.scss";
@import "~scss/mixins.scss";

.site-header {
    display: none;
}

@include respond-to('medium')
{
    .site-header
    {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        background: transparent;
        z-index: 10;

        .logo
        {
            a {
                display: block;
                img {
                    display: block;
                    max-width: 100%;
                    height: 70px;
                    margin: 0 auto;
                    padding: 10px;
                }
            } 
        }
        
        .navigation-menu
        {
            ul
            {
                margin-top: 15px;
                
                li 
                {
                    float: left;
                    list-style: none;
        
                    a 
                    {
                        display: block;
                        padding: 10px 15px;
                        text-transform: uppercase;
                        color: #FFF;
                        text-decoration: none;
                    }
        
                    &:hover {
                        border-bottom: 3px solid $brand-primary;
                    }
                }
            }
        }
    }
}